In [ ]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1, 2, 3, 4,"String",3.2, False]
d = {"Name": "Jake",
     "Age": [27,56],
     "Adress": "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science","Python"}

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(l))
print(type(d))
print(type(t))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [ ]:
text = "The goal is to turn data into information, and information into insight."
text.upper().replace(","," ").replace("."," ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [ ]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
print(len(lst))
data_list = lst[0:4]
print(data_list)
lst.append(101)
print(lst)
print(len(lst))

11
['D', 'A', 'T', 'A']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 101]
12

In [ ]:
dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

dict.update({"Daisy": ["England",13]}) # or dict["Daisy"][1] = 13
dict.update({"Ahmet": ["Turkey", 24]})
dict.pop("Antonio")
print(dict.keys())
print(dict.values())

dict_keys(['Christian', 'Daisy', 'Dante', 'Ahmet'])
dict_values([['America', 18], ['England', 13], ['Italy', 25], ['Turkey', 24]])

In [ ]:
l = [2,13,18,93,22]

def func(list):

    odd = []
    even = []

    for i in list:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)

    return even, odd


even, odd = func(l)
print(f" odd list: {odd} \n even list: {even}")

 odd list: [13, 93]
 even list: [2, 18, 22]

In [ ]:
students = ["joel","Ellie","Tess","Sully","Elena","Nate"]
for i,x in enumerate(students):
    if i<3:
        i += 1
        print("group one",f"{i}.","student:",x)
    else:
        i -= 2
        print("group two",f"{i}.","student:",x)

group one 1. student: joel
group one 2. student: Ellie
group one 3. student: Tess
group two 1. student: Sully
group two 2. student: Elena
group two 3. student: Nate

In [ ]:
cluster1 = set(["data", "python"])
cluster2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def cluster(set1,set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

cluster(cluster1,cluster2)

{'function', 'lambda', 'miuul', 'qcut'}

In [ ]:
lesson_code = ["CMP1005","PSY1001","PHY1005","CS2204"]
credit = [3,4,2,4]
quota = [30,75,150,25]

for lesson_code, credit, quota in zip(lesson_code, credit, quota):
  print(f"The quota of the course code {lesson_code}, which has {credit} credits, is {quota} people.")

The quota of the course code CMP1005, which has 3 credits, is 30 people.
The quota of the course code PSY1001, which has 4 credits, is 75 people.
The quota of the course code PHY1005, which has 2 credits, is 150 people.
The quota of the course code CS2204, which has 4 credits, is 25 people.